*{
	padding: 0;
	margin: 0;
}
.portfolio-section{
	height: 650px;
	padding-top: 20px;
	width: 100%;
	/* border: 2px solid black; */
	text-align: center;
	background-color: whitesmoke;
}
.navigation-bar{
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: transparent;
	backdrop-filter: blur(10px);
	z-index: 1;

}

.portfolio-section h1{
	margin-top: 50px;
}
html{
	scroll-behavior: smooth;
}
.main-container{
	position: relative;
	top: 75px;
}
.brand{
	font-size: 30px;
	font-family: Arial Black;
	font-variant: small-caps;
	color: orangered;
	transition: color 0.5s ease, transform 0.5s ease;
	
}

.brand:hover{
	color: orangered;
	transform: scale(1.5);

}

.navmenu{
	color: black;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left: 15px;


}

.navmenu:hover{
	text-decoration: underline 2px solid red;
	text-underline-offset: 6px;

}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


 @-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  



#home{
	height: 470px;
	background-image: url(https://cdn.dribbble.com/users/1162077/screenshots/3848914/programmer.gif);
	background-repeat: no-repeat;
	background-size: 45%;
	background-position: 100% 100% ;
	border: none;
	background-color:white; 
    backdrop-filter: blur(10px);
}
#home-info{
	position: absolute;
	top: 130px;
	width: 400px;
	height: 250px;
	font-size: 25px;
	margin-top: 50px;
	margin-left: 80px;
}


.info{
	font-weight: bolder;
	color: black;
	font-weight: bolder;
	width: 150px;
    padding-top: 95px;
}

.designation{
	color: rebeccapurple;
	font-size: 25px;
	font-weight: bolder;
}

.rsmbtn{
	height: 40px;
	width: 100px;
	border: none;
	margin-top: 20px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bolder;
	background-color: royalblue;
	color: white;
	transition-duration: 1s ;
}

.rsmbtn:hover{
	background-color: white;
	color: black;
	border: 3px solid purple;
	transform: scale(1.1);
}

.myname{
	color:rgb(222, 29, 62);
	transition-duration: 1s;
	font-family: Arial Black;
}

.myname:hover{
	color: transparent;
	-webkit-text-stroke: 1px orangered;
}
.heading{
	font-family: sans-serif;
	text-align: center;
	margin: 0px 0px;
	font-size: 40px;
	color: brown;
}

.careerinfo{
	text-align: justify;
	line-height: 40px;
	text-indent: 100px;
	word-spacing: 7px;
	letter-spacing: 1px;
}
.about-section{
	height: 500px;
	width: 100%;
	background-color: whitesmoke;
}
.aboutmain{
	height: 300px;
	width: 100%;
	display: flex;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: bold;
	

}
 .aboutmain div{
	height: 450px;
	width: 50%;
	
} 

.careerobj{
	padding-top: 100px;
	padding-right: 30px;
	
	
}

.myimage{
	margin-top: 20px;
	margin-left: 20px;

	animation-duration: 1.5s;
	animation-name: zoom;
	animation-iteration-count: 1;
}
@keyframes zoom {
	100%{transform: scale(1.2);
		border-radius: 60px;}
	
}
#Skills{
	height:400px;
	width:100%;
	background-color: white;

}
.tbl{
	margin-left: 5%;
}
.tbl tr td{
	padding: 40px;
	border-radius: 10PX;
	box-shadow: 0px 0px 5px royalblue;
	transition-duration: 1.5s;

}
.skills-subheading{
	color: orangered;
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 25px;
	font-variant: small-caps;
}

.deatiledskills{
	font-size: 23px;
	font-weight: bolder;
	color: rgb(109, 101, 101);
	line-height: 40px;
	word-spacing: 3px;
	margin-top: 20px;
}

.projects{
	height: 500px;
	width: 90px;
	margin: 20px;

}
.heading{
	padding-bottom: 20px;
}

.project-card-container{
	padding: 2px;
	margin: 30px;
}
.card-title{
	color: orangered;
	text-align: center;
	font-family: sans-serif;
	font-weight: bolder;

}
.card-title:hover{
	text-decoration: underline 2px solid orangered;
	text-underline-offset: 5px;
	cursor:pointer;

}
.contacts-section{
	height: 500px;
	width: 100px;
	background-color: whitesmoke;
	padding: 10px;
}

.main-container{
	height: 450px;
	width: 80%;
	display: flex;
	margin-left: 10px;
	
}
.contact-child{
	height: 350px;
	width: 100%;
}

.contact-info{
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bolder;
	margin-top: 70px;
}

.contact-info li{
	margin-top: 20px;
}

.contact-form{
	padding-top: 30px;
	margin-bottom: 50px;
	margin-left: 200px;
}

.submit-button{
	height: 40px;
	width: 100px;
	border: none;
	margin-top: 20px;
	border-radius: 10px;
	font-size: 15px;
	font-weight: bolder;
	background-color: royalblue;
	color: white;
	transition-duration: 1s ;
}


.submit-button:hover{
	background-color: white;
	color: black;
	border: 3px solid purple;
	transform: scale(1.2);
}
